/* reset */
* {
	padding: 0;
	margin: 0;
}
/* border box fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: #EEE;
}
.logo {
	position: absolute;
	left: 0;
	top: 10px;
}
#principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
#titulo {
	text-align: center;
	margin: 20px;
}
#div-botones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}
#btn-start {
	height: 75px;
}
.btn-custom {
	margin: 10px;
	padding: 10px;
	background-color: #0A3871;
	color: white;
	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	width: 200px;
	height: 50px;
}
.btn-inverse {
	color: #0A3871;
	background-color: #FFF;
}
.btn-custom:hover {
	transform: scale(1.05);
}
#entrada {
	margin: 20px;
	padding: 10px;
	font-size: 20px;
	max-width: 90%;
	text-align: center;
	border-radius: 24px;
}
#letras-adivinadas {
	font-size: 50px;
}
#resultado {
	color: red;
	font-size: 30px;
}
footer {
	position: fixed;
	bottom: 0;
	color: #0A3871;
}
#mobile-input {
	display: none;
	text-align: center;
}
@media (pointer:coarse) { 
	#mobile-input { 
		display: block; 
	} 
} 