/* reset */
* {
	padding: 0;
	margin: 0;
}
/* border box fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: #EEE;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .logo {
} */
#principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
}
#contenido {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#juego {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	border-radius: 24px;
	border: 3px solid #0A3871;
	margin: 20px;
}
.titulo {
	color: #0A3871;
	position: relative;
	right: 60px;
}
.titulo h1 {
	font-weight: bold;
}
#div-botones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}
#btn-start {
	height: 75px;
}
.btn-custom {
	margin: 10px;
	padding: 10px;
	background-color: #0A3871;
	color: white;
	border: 1px solid #0A3871;
	border-radius: 24px;
	cursor: pointer;
	width: 200px;
	height: 50px;
}
.btn-inverse {
	color: #0A3871;
	background-color: #FFF;
}
.btn-custom:hover {
	transform: scale(1.05);
}
#entrada {
	margin: 20px;
	padding: 10px;
	font-size: 20px;
	max-width: 90%;
	text-align: center;
	border-radius: 24px;
}
#letras-adivinadas {
	font-size: 50px;
}
#resultado {
	color: red;
	font-size: 30px;
	margin: 10px;
}
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
footer {
	width: 100%;
	background-color: #0A3871;
	color: #FFF;
}
.footer-text {
	text-align: center;
	margin: 20px;
}
#mobile-input {
	display: none;
	text-align: center;
}
@media (max-width: 600px) {
	header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.titulo {
		position: relative;
		right: 0;
		text-align: center;
	}
}
@media (pointer:coarse) { 
	#mobile-input { 
		display: block; 
	} 
} 